extends layout
head head
  link(rel="stylesheet", href="stylesheets/2.css")
  link(rel="stylesheet", href="stylesheets/2.css")
block content
  h1= title
  p Welcome to #{title}
  img(src="/images/4.JPG")
  img(src="/images/5.JPG")
  img(src="/images/4.JPG")
  img(src="/images/5.JPG")
